/* 
    Author:Sudath Nawagamuwage;
    Theme: Spice Ceylon Restaurant;
    Header Section;
*/
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .wrapper {
    border: 1px solid black;
    padding: 1%;
    width: 80%;
    margin: 0 auto;
  }
  
  .text-center {
    text-align: center;
  }

  /* CSS for Footer */
.footer {
    background-color: #40739e;
    color: white;
  }